<h1>Empleado: {{empleado.nombre}} {{empleado.apellido}}</h1>

<p>Email: {{empleado.email}}</p>
<p>Teléfono: {{empleado.telefono}}</p>
<p>Puesto: {{empleado.puesto}}</p>
<p>Fecha de Ingreso: {{empleado.fechaIngreso}}</p>
<p>Salario: {{empleado.salario}}</p>

<a href="/empleados">Volver</a>
